<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <nav class="navbar navbar-default">
            Signed in as <strong>{{ user.username }}</strong>
        </nav>
        <form>
            <div class="form-group">
                <label for="urlInput">URL address</label>
                <input type="url" class="form-control" id="urlInput" aria-describedby="urlHelp"
                       placeholder="Enter URL">
                <small id="urlHelp" class="form-text text-muted">We'll create a short link for your URL.
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}
{% endblock %}