<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block navigation %}
    {% if user.is_authenticated %}
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item active">
                    <p class="nav-link m-2">Signed in as <strong>{{ user.username }}</strong></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu=item" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link m-2 menu=item" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu=item" href="{% url 'signup' %}">Sign up</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row my-3 mx-1">
                <form method="post" action="/tokenizer/">
                    {% csrf_token %}
                    <div class="form-group{% if errors %} has-error{% endif %}">
                        <label for="urlInput">URL address</label>
                        <input type="url" class="form-control" id="urlInput" aria-describedby="urlHelp"
                               placeholder="Enter URL" name="url">
                        <small id="urlHelp" class="form-text text-muted">We'll create a short link for your URL.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% if errors %}
                        <span class="help-block">{{ errors }}</span>
                    {% endif %}
                </form>
            </div>
            {% if url_list %}
                <div class="row">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Long Url</th>
                            <th>Created</th>
                            <th>Short Url</th>
                            <th>Clicks</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for url_item in url_list %}
                            <tr class="{% if url_item.pk == current %}success{% endif %}">
                                <td>
                                    <a href="{{ url_item.url }}">{{ url_item.url }}</a>

                                </td>
                                <td>{{ url_item.creation_time }}</td>
                                <td>
                                    <a href="{% url 'urls-shortcut' token=url_item.token %}">http
                                        {% if request.is_secure %}
                                            s{% endif %}
                                        ://{{ request.get_host }}{% url 'urls-shortcut' token=url_item.token %}</a>
                                </td>
                                <td>{{ url_item.redirect_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="row">

                    <p>No urls are available yet.</p>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="container justify-content-center">
            <div class="row justify-content-center mt-4" >
                <p class="text-center">You are not logged in.</p>
            </div>
            <div class="row justify-content-center">
                {% load static %}
                <img src="{% static "welcome-to-internet.jpg" %}" alt="My image">
            </div>
        </div>
    {% endif %}
{% endblock %}