<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <form class="form-horizontal my-2" role="form" method="POST">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Sign up</h2>
                <hr>
            </div>
        </div>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        {{ form.as_p }}

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>Sign up</button>
            </div>
        </div>
    </form>
{% endblock %}